body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[lang="ar"] body {
  direction: rtl;
}

.site-content { flex: 1 0 auto; }

img { max-width: 100%; }

.section { padding: 3em 0; }

[lang="ar"] .column:not(.column--center):not(.right) { float: right; }

.photo-thumb {
  cursor: pointer;
  border: 2px solid #fff;
  &.active {
    border: 2px solid #D5D5D5;
  }
}

.spec-item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $border-color;

  &.photos,
  &.gtin,
  &.description,
  &.classification {
    display: none;
  }
}

.brand-logo { width: 160px; }