//
// Header
//

.site-header {
  padding: 1rem 0;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  height: 55px;
  flex: none;
  border-bottom: 2px solid $border-color;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  color: #333;
}