//
// Header
//

.site-header {
  padding: .5rem 0;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  flex: none;
  border-bottom: 2px solid $border-color;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #333;
}