.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  float: left;
  font-size: 0.8125rem;
  line-height: 0.8125rem;

  a {
    color: #304561;
    display: inline-block;
  }

  &:before {
    color: #979797;
    content: "/";
    margin: 0 0.66667rem;
    position: relative;
    top: 1px;
  }

  &:first-child:before {
    content: " ";
    margin: 0;
  }

  &.current a {
    color: #333333;
    cursor: default;
  }
}