//
// Buttons
//

.button {
  padding: 1em 3em;
  border: medium none;
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: #666;
  background-color: #ebebeb;

  &:hover,
  &:active,
  &:focus {
    color: #666;
    background-color: #f5f5f5;
  }
}

.button-small {
  padding: .5em 1em;
}

.button-primary {
  color: #fff;
  background-color: $button-background;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    background-color: #14dcb4;
  }
}