// Product Grid

//     |    |    |    |
// ____|____|____|____|____
//     |    |    |    |
// ____|____|____|____|____
//     |    |    |    |
// ____|____|____|____|____
//     |    |    |    |
//     |    |    |    |

.grid-container {
  overflow: hidden;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    content: " ";
  }

  // Override the Grid top border caused by .card class
  &:before {
    width: 100%;
    border-top: 2px solid #fff;
  }

  // Override the Grid left border caused by .card class
  &:after {
    left: 0;
    display: block;
    border-left: 1rem solid #fff;
  }
}

// Make cards the same height so we can show the border for empty items
@media only screen and (min-width: 40em) {
  .card-row { display: flex; }
}

// Hide empty items in medium screens, this will hide the borders
@media only screen and (max-width: 40em) {
  .card-empty { display: none; }
}

.card {
  border: 2px solid #eee;
  border-bottom: 0;
  border-right: 0;
  padding-bottom: 1rem;
  flex: 1;

  &:hover .card-title a {
    color: #06A5D5;
  }
}

.card-img { padding: 3rem 0; }

.card-title {
  margin: 5px 0;
  font-size: 20px;

  a { color: #304561; }
}