// Navigation

.nav-toggle {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  top: .21rem;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2rem;
    box-shadow: 0 4px  0 1px #304661,
                0 14px 0 1px #304661,
                0 24px 0 1px #304661;
  }
}

.navigation {
  &:hover .navigation-body {
    opacity: 1;
    display: block;
  }

  .item {
    color: #7f8c8d;
    display: block;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 5px;

    &:hover { color: #34495e; }
  }
}

.navigation-body {
  top: 100%;
  z-index: 10;
  padding: 24px 24px 10px;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}