// Navigation

.nav-toggle {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  top: .21rem;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2rem;
    box-shadow: 0 4px  0 1px #304661,
    0 14px 0 1px #304661,
    0 24px 0 1px #304661;
  }
}

.categories-head {
  color: #FFF;
  display: block;
  font-size: 14px;
  height: 50px;
  padding: 15px 30px;
  border-bottom: 1px solid #979797;
}

.categories-list {
  padding: 20px 30px;
  overflow: auto;
  height: calc(100% - 50px);
}

.categories-body {

  .item {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 5px;
    position: relative;
    padding-left: 1.1rem;

    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 10px solid #848F9D;
    }

    &:hover { color: #51CC8F; }
  }

  .item-no-arrow {
    padding-left: 0;
    &:before { display: none; }
  }

  .item-open {
    &:before {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 10px solid #51CC8F;
    }
  }

  .item-active {
    color: #51CC8F;
    padding-left: 0;
    &:before { display: none; }
  }
}

[lang="ar"] .categories-body {
  .item {
    padding-left: 0;
    padding-right: 1.1rem;

    &:before {
      left: auto;
      right: 0;
      border-left: 10px solid transparent;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 10px solid #848F9D;
    }
  }
}