// Navigation

.nav-toggle {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  top: .21rem;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2rem;
    box-shadow: 0 4px  0 1px #304661,
    0 14px 0 1px #304661,
    0 24px 0 1px #304661;
  }
}

.navigation {
  &:hover .navigation-body {
    opacity: 1;
    display: block;
  }

  .item {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 5px;
    position: relative;
    padding-left: 1.1rem;

    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 10px solid #848F9D;
    }

    &:hover { color: #51CC8F; }
  }
}

.navigation-head {
  display: block;
  border-bottom: 1px solid #979797;
  padding: 20px 30px;
  font-size: 14px;
  color: #FFF;
}

.navigation-body {
  top: 100%;
  z-index: 10;
  min-width: 370px;
  position: absolute;
  background-color: #304661;
}

.navigation-list {
  padding: 20px 30px;

  a:empty { display: none; }
}