%div{ng-controller: "brandDetails"}

  .row
    .large-12.column
      .loading-spinner{ng-show:"loading"}

  .row
    .large-12.column.text-center{ng-show:"!loading"}
      {{ status }}

  .div{ng-show:"done"}

    .row
      .small-4.medium-2.large-2.column.column--center.text-center
        %img{ng-src: "{{ brand.logo }}"}

        %h4{style: "margin: 0;"}
          {{ brand.name }}

      %p.text-center
        {{ brand.description }}

    -# .row
    -#   .product-container.clearfix
    -#     .small-12.large-4.medium-6.column.product-card{ng-repeat: "product in brand"}
    -#       %product-card