%div{ng-show: "item"}
  %a{ng-href: "#/brands/{{item.name}}", class: "block"}
    .flex-embed.flex-embed--4by3
      %img.card-img.flex-embed__object{ng-src: "{{ item.logo }}"}

  %a{ng-href: "#/brands/{{item.name}}", class: "block text-center grey"}
    {{ item.name }}