%ul.breadcrumbs
  %li
    %a{href: "/#/"}
      {{ 'home' | translate }}

  %li{ng-repeat: "category in product.classification.value"}
    %a{href: "#/category/{{category}}"}
      {{ category }}

  %li.current
    {{ product.productname.value }}