%ul.breadcrumbs
  %li
    %a{href: "/#/"}
      {{ 'home' | translate }}
  %li
    %a{href: "#/brands/{{product.brand.value}}"}
      {{ product.brand.value }}
  %li.current
    {{ product.productname.value }}