%ul.breadcrumbs
  %li
    %a{href: "/#/"}
      {{ 'home' | translate }}

  %li{ng-repeat: "item in product.classification.value"}
    %a{href: "#/item"}
      {{ item }}

  %li.current
    {{ product.productname.value }}