.categories-body.off-canvas-nav{ng-controller: "CategoriesController", class: "text-{{default_float}}", ng-class: "{'active': offCanvasOpened}"}

  %a.categories-head{href: "/#/"}
    %i{class: "demo-icon icon-home padding-{{opposite_float}}-half"}
    {{ appName }} HOME

  -#
  -# Category Page Navigation
  -#

  -# Inspired by http://goo.gl/JDAV2z
  %script{type: "text/ng-template", id: "categoryTree"}
    %a{href: "#/category/{{category.title | removeTrailingSlash}}", class: "item", ng-class: "{'item-open': category.isCurrent && category.categories, 'item-active': category.isActive && end_path === category.title && category.categories.length === 0}"}
      {{ category.title }}

    %ul.list-bare{class: "padding-{{default_float}}-one", ng-if: "category.categories"}
      %li{ng-repeat: "category in category.categories", ng-include: "'categoryTree'"}


  %ul.list-bare.categories-list{ng-show: "isCategoryPage"}
    %li{ng-repeat: "category in categories", ng-include: "'categoryTree'"}

  -#
  -# Global Navigation
  -#

  %ul.list-bare.categories-list{ng-show: "!isCategoryPage"}
    %li{ng-repeat: "(categoryKey, categoryValue) in globalCategories"}
      %a{href: "#/category/{{categoryKey | removeTrailingSlash}}", class: "item"}
        {{ categoryKey }}