%div{ng-controller: "CategoryController"}

  %loading-status{loading: "loading", status: "status"}

  .row{ng-show:"done"}
    .column.large-12
      %h4.border-bottom.padding-bottom-one {{ category }}

  .row{ng-show:"done"}
    .product-container.clearfix
      .small-12.large-4.medium-6.column.product-card{ng-repeat: "product in products"}
        %product-card