%div{ng-controller: "CategoryController"}

  %loading-status{loading: "loading", status: "status"}

  .row{ng-show:"done"}
    .column.large-12
      %h4.border-bottom.padding-bottom-one {{ category }}

  -# Show products results if something is found
  %div{ng-show:"done && products.length > 0"}
    .row
      .grid-container.clearfix
        %product-card-row{items: "products"}

  -# Show callback message if there no products
  %div{ng-show:"done && products.length == 0"}
    .row
      .column.large-12
        %h5 {{ 'category_page_results_nothing_found' | translate }} {{ query }}