.navigation{ng-controller: "MenuController"}

  %a{class: "nav-toggle", ng-click: "toggleMenu($event)"}

  .navigation-body{ng-controller: "CategoriesController", ng-show: "menuOpened", class: "text-{{default_float}}"}

    %a.navigation-head{href: "/#/"}
      %i{class: "demo-icon icon-home padding-{{opposite_float}}-half"}
      {{ appName }} HOME

    -# Category Page Navigation
    %ul.list-bare.navigation-list{ng-show: "isCategoryPage"}

      %li{ng-repeat: "(categoryKey, categoryValue) in categories"}
        %a{href: "#/category/{{categoryKey | removeTrailingSlash}}", class: "item"}
          {{ categoryKey }}

          %div{ng-show: "treeParent == categoryKey", ng-repeat: "path in navPath"}

            %ul.list-bare{class: "padding-{{default_float}}-one"}
              %li{ng-repeat: "category in tree"}
                %a{href: "#/category/{{category | removeTrailingSlash}}", class: "item"}
                  {{ category }}

    -# Global Navigation
    %ul.list-bare.navigation-list{ng-show: "!isCategoryPage"}
      %li{ng-repeat: "(categoryKey, categoryValue) in globalCategories"}
        %a{href: "#/category/{{categoryKey | removeTrailingSlash}}", class: "item"}
          {{ categoryKey }}