.padding-top-one.lang-select{ng-controller: "translateController"}
  .div{ng-show: "lang == 'en'"}
    %button{ng-click: "changeLanguage('ar')", translate: "button_lang_ar"}

  .div{ng-show: "lang == 'ar'"}
    %button{ng-click: "changeLanguage('en')", translate: "button_lang_en"}