.padding-top-one.lang-select{ng-controller: "TranslateController"}
  .div{ng-show: "lang == 'en'"}
    %button{ng-click: "changeLanguage('ar')", translate: "button_lang_ar", class: "button button-small"}

  .div{ng-show: "lang == 'ar'"}
    %button{ng-click: "changeLanguage('en')", translate: "button_lang_en", class: "button button-small"}