.navigation{ng-controller: "MenuCtrl"}

  %a{class: "nav-toggle", ng-click: "toggleMenu($event)"}

  .navigation-body{ng-controller: "Categories", ng-show: "menuOpened", class: "text-{{default_float}}" }
    .row
      .column.large-6.medium-6
        %ul.list-bare
          %li{ng-repeat: "(categoryKey, categoryValue) in categories"}
            %a{href: "#/category/{{categoryKey | removeTrailingSlash}}", class: "item"}
              {{ categoryKey }}