%a{ng-href: "#/product/{{product.gtin.value}}", class: "block"}
  .flex-embed.flex-embed--4by3
    %img.product-card-img.flex-embed__object{ng-src: "{{ product.photos.value[0] }}"}

%a{ng-href: "#/product/{{product.id}}", class: "block text-center product-card-brand grey"}
  {{ product.brandNameInformation.value }}

%h4.product-card-title.text-center
  {{ product.productName.value }}

.grey.text-center
  {{ product.gtin.name }} {{ product.gtin.value }}