%div{ng-controller: "productDetails"}
  .row
    .large-12.column
      .loading-spinner{ng-show:"loading"}

  .row
    .large-12.column.text-center{ng-show:"!loading"}
      {{ status }}

  .border-bottom.padding-bottom-one{ng-show:"done"}
    .row.margin-bottom-one
      .large-12.column.margin-bottom-one
        %breadcrumb

    .row
      .small-12.medium-9.large-10.column
        .flex-embed.flex-embed--16by9.margin-bottom-one
          %img.flex-embed__object{ng-src: "{{ mainPhoto }}", alt: "{{ product.productName.value }}"}

      .small-12.medium-3.large-2.column
        %ul.list-bare.row
          %li.margin-bottom-one.column.small-4.medium-12.large-12{ng-repeat: "photo in product.photos"}
            .flex-embed.flex-embed--16by9
              %img.photo-thumb.flex-embed__object{ng-src: "{{ photo }}", alt: "{{ product.productname.value }}", ng-click: "setMainPhoto(photo)", ng-class: "{'active': mainPhoto == photo}"}

  .border-bottom.section{ng-show:"done"}
    .row
      .large-8.column.column--center
        .text-center
          %h3 {{ product.productname.value }}

          %p
            %a{href: "#/category/{{product.category.value}}"}
                {{ product.category.value }}

             {{ 'by' | translate }}

            %a{href: "#/brands/{{product.brand.value}}"}
              {{ product.brand.value }}
          %p
            {{ product.description.value }}

        .text-center
          %a{href: "#", class: "button button-primary bold"}
            {{ 'button_view_supplier_page' | translate }}

  .border-bottom.section{ng-show:"done"}
    .row
      .large-8.column.column--center
        .text-center
          %h4.uppercase.margin-bottom-one.padding-bottom-one
            {{ 'specifications' | translate }}

      .medium-10.large-8.column.column--center
        %ul.list-bare
          %li.spec-item{ng-repeat: "(specKey, specValue) in product", ng-class: "specKey", ng-show: "specValue.value"}
            .row
              .medium-4.large-4.column
                %strong
                  {{ specValue.name }}
              .medium-8.large-8.column
                {{ specValue.value }}

  %script{type: "application/ld+json", id: "jsonld", ng-controller: "jsonLD"}


  -# .section{ng-show:"done"}
  -#   .row
  -#     .large-8.column.column--center
  -#       .text-center
  -#         %h4.uppercase.margin-bottom-one.padding-bottom-one
  -#           {{ 'related_products' | translate }}

  -#   .row
  -#     .product-container.clearfix
  -#       .small-12.large-4.medium-6.column.product-card{ng-repeat: "product in productDetail.related"}
  -#         %product-card