%a{ng-href: "#/product/{{product.gtin.value}}", class: "block"}
  .flex-embed.flex-embed--4by3
    %img.product-card-img.flex-embed__object{ng-src: "{{ product.photos.value[0] }}"}

%a{ng-href: "#/product/{{product.id}}", class: "block text-center product-card-brand grey"}
  {{ product.brandNameInformation.value }}

%a{ng-href: "#/product/{{product.gtin.value}}", class: "block grey"}
  %h4.product-card-title.text-center.truncate
    {{ product.productName.value }}

  .div.hide{ng-show: "lang == 'en'"}
    {{ product.productName.value }}

  .div.hide{ng-show: "lang == 'ar'"}
    {{ product.productName.ar_value }}

.grey.text-center
  {{ product.gtin.name }} {{ product.gtin.value }}