%div{ng-controller: "productDetails"}
  .row
    .large-12.column
      .loading-spinner{ng-show:"loading"}

  .row
    .large-12.column.text-center{ng-show:"!loading"}
      {{ status }}

  .border-bottom{ng-show:"done"}
    .row
      .large-12.column.margin-bottom-one
        %breadcrumb

    .row
      .small-10.medium-8.large-8.column.column--center.text-center.section
        .flex-embed.flex-embed--16by9
          %img.flex-embed__object{ng-src: "{{ product.photos.value[0] }}", alt: "{{ product.productName.value }}"}

  .border-bottom.section{ng-show:"done"}
    .row
      .large-8.column.column--center
        .text-center
          %h3 {{ product.productName.value }}
          %p
            %a{ng-href: "#/product/{{product.gtin.value}}"}
              Beverages
             by
            %a{ng-href: "#/product/{{product.gtin.value}}"}
               {{ product.brandNameInformation.value }}
        %p
          {{ productDetail.consumerMarketingDescription.value }}

        .text-center
          %a{href: "#", class: "button button-primary bold"}
            View Supplier Page

  .border-bottom.section{ng-show:"done"}
    .row
      .large-8.column.column--center
        .text-center
          %h4.uppercase.margin-bottom-one.padding-bottom-one Specifications

      .medium-10.large-8.column.column--center
        %ul.list-bare

          %li.border-bottom.padding-bottom-one.margin-bottom-one
            .row
              .medium-4.large-4.column
                %strong
                  Manufactured by
              .medium-8.large-8.column
                {{ product.brandNameInformation.value }}

          %li.border-bottom.padding-bottom-one.margin-bottom-one
            .row
              .medium-4.large-4.column
                %strong
                  Made In
              .medium-8.large-8.column
                {{ product.countryOfOrigin.value }}

          %li.border-bottom.padding-bottom-one.margin-bottom-one
            .row
              .medium-4.large-4.column
                %strong
                  Material
              .medium-8.large-8.column
                {{  }}

          %li.border-bottom.padding-bottom-one.margin-bottom-one
            .row
              .medium-4.large-4.column
                %strong
                  Style
              .medium-8.large-8.column
                {{  }}

          %li.border-bottom.padding-bottom-one.margin-bottom-one
            .row
              .medium-4.large-4.column
                %strong
                  Dimensions
              .medium-8.large-8.column
                {{  }}

          %li.border-bottom.padding-bottom-one.margin-bottom-one
            .row
              .medium-4.large-4.column
                %strong
                  Category
              .medium-8.large-8.column
                {{  }}

  .section{ng-show:"done"}
    .row
      .large-8.column.column--center
        .text-center
          %h4.uppercase.margin-bottom-one.padding-bottom-one Related Products

    .row
      .product-container.clearfix
        .small-12.large-4.medium-6.column.product-card{ng-repeat: "product in productDetail.related"}
          %product-card