%div{ng-controller: "SearchController"}

  %loading-status{loading: "loading", status: "status"}

  .row{ng-show:"done"}
    .column.large-12
      %h4.border-bottom.padding-bottom-one {{ 'search_page_title' | translate }} {{ query }}

-# Show search results if something is found
%div{ng-show:"done && search_results_length > 0"}

  -# Show products search results if we found some of them
  .row{ng-show:"done && products.length > 0"}
    .column.large-12
      %h5.border-bottom.padding-bottom-one {{ 'products' | translate }}

    .row
      .grid-container.clearfix
        %product-card-row{items: "products"}

  -# Show brands search results if we found some of them
  .row{ng-show:"done && brands.length > 0"}
    .column.large-12
      %h5.border-bottom.padding-bottom-one {{ 'brands' | translate }}

    .row
      .grid-container.clearfix
        %brand-card-row{items: "brands"}

  -# Show categories search results if we found some of them
  .row{ng-show:"done && categories.length > 0"}
    .column.large-12
      %h5.border-bottom.padding-bottom-one {{ 'categories' | translate }}

    .row
      .grid-container.clearfix
        %category-card-row{items: "categories"}

-# Show callback message if there no search results is found
%div{ng-show:"done && search_results_length == 0"}
  .row
    .column.large-12
      %h6 {{ 'search_page_results_nothing_found' | translate }} {{ query }}