!!! 5
%html{ng-app: "GS1", lang: "{{ lang }}"}
  %head
    %title {{ appName }}
    %meta{name: "description", content: "GS1 Showcase Application"}
    %meta{name: "viewport", content: "width=device-width, initial-scale: 1.0"}

    -# Styles
    %link{type: "text/css", rel: "stylesheet", href: "styles/main.min.css"}

    -# Favicon
    %link{href: "images/favicon.png", rel: "shortcut icon"}

  %body

    -# Header
    %header{class: "site-header", role: "banner"}
      .row.relative
        %div{class: "text-{{default_float}} {{default_float}} padding-{{default_float}}-one"}
          %categories-navigation

        %a.logo{href: "/#/"}
          {{ appName }}

        %div{class: "text-{{opposite_float}} {{opposite_float}} padding-{{opposite_float}}-one"}
          %language-selector

        %div{class: "text-{{opposite_float}} {{opposite_float}} padding-{{opposite_float}}-one show-for-large"}
          %search-form

    -# Main Section
    %main{class: "site-content margin-bottom-one", role: "main", ng-view:}

    -# Footer
    .footer.border-top{role: "contentinfo"}
      .row
        .large-8.column
          %p.grey
            Copyright &copy; 2015 GS1 Egypt LLC

    %script{src: "js/app.js"}